.App__Main {
  width: auto;
  margin-left: 200px;
  margin-right: 200px;
  height: 100%;
}

.App__Content {
  display: flex;
  flex-direction: flex;
  gap: 20px;
}

.App__Bottom {
  display: flex;
  flex-direction: flex;
  padding: 20px 20px;
}

.App__ContentFireTheHose {
  flex: 1;
  width: 100%;
  padding-top: 20px;
}
